
<h3 class="pt-5 border-bottom">We have a new adoption? YEAHHH!</h3>

<%= simple_form_for [@animal, @adoption] do |f| %>
  <%= f.input :owner_name, label: 'New Owner' %>
  <div class="mb-5">
    <%= f.submit 'ADOPT!', class: 'btn btn-primary rounded-pill w-100' %>
  </div>
<% end %>

