.navbar-animal {
  justify-content: space-between;
  background: #4361EE;
}

.navbar-animal .navbar-collapse {
  flex-grow: 0;
}

.navbar-animal .navbar-brand img {
  width: 100px;
  border-radius: 50%;
}
